/*******  Main styles *************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Alegreya Sans', sans-serif;
}


/********** Navigation styles ********************/

nav {
    display: flex;
    width: 100%;
    height: 60px;
}
.nav-logo {
    margin-right: auto;
    margin-left: -45px;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    height: 60%;
}

nav .nav-links{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}
nav .nav-links li {
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

nav .nav-links li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-links li a:hover{
    background-color: #54be90;
    color: #000;
    font-weight: 600;
} 
header {
    position: relative;
    height: 1000px;
}
.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
header video {  
    margin-top: -60px;
    width: 100%;
}


.header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header-text {
    width: 550px;
    color: #fff;

}

.header-text_name{
    font-size: 110%;
    font-weight: bolder;
    color: #54be90;
    border-bottom: 10px solid #fff;
}

.title-upside{
    font-weight: 500;
    font-size: 180%;
}
.title-downside{
    font-weight: 500;
    letter-spacing: -2px;
    font-size: 180%;
    
}
/********** Section Intro styles ********************/

.section-intro{
    background-color: #fff;
    margin-top: -200px;
    /* background: linear-gradient(rgb(60, 200, 255) 0%, rgb(32, 98, 138) 100%); */
    /* background: linear-gradient(#F26101, #08AEEA), rgba(0,0,0,0.2); */
    background: linear-gradient(to top, #fff, #fff 69%, transparent);
}
.section-into-paragraph_box {
    height: 15rem;
    padding-top: 3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-intro_text {
    text-align: center;
    font-size: 1.5rem;
}
.section-intro_content {
    width: 80%;
    margin: auto;
    padding-top: 200px;
}
.section-intro_circles {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.section-intro_circles img{
    width: 50px;

}



