/*******  Main styles *************/
html {
    scroll-behavior: smooth;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Alegreya Sans', sans-serif;
}

::selection {
    background-color: green;
    color: #fff;
  }

/********** Navigation styles ********************/

nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    z-index: 2;
}

.mobile-icon {
    height: 100%;
    width: 40px;
    height: 35px;
    margin-right: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
    cursor: pointer;
}

.mobile-icon_line{
    background-color: #fff;
    width: 100%;
    height: 6px;
    border-radius: 5px;
}

.nav-logo {
    margin-right: auto;
    margin-left: -45px;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    height: 60%;
}

nav .nav-links{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}
nav .nav-links li {
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

nav .nav-links li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-links li a:hover{
    background-color: #54be90;
    color: #000;
    font-weight: 600;
} 
header {
    position: relative;
    height: 1000px;
}
.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
header video {  
    margin-top: -60px;
    width: 100%;
}


.header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header-text {
    width: 550px;
    color: #fff;

}

.header-text_name{
    font-size: 110%;
    font-weight: bolder;
    color: #54be90;
    border-bottom: 10px solid #fff;
}

.title-upside{
    font-weight: 500;
    font-size: 180%;
}
.title-downside{
    font-weight: 500;
    letter-spacing: -2px;
    font-size: 180%;
    
}
/********** Section Intro styles ********************/

.section-intro{
    background-color: #fff;
    margin-top: -200px;
    background: linear-gradient(to top, #fff, #fff 69%, transparent);
}
.section-intro-paragraph_box {
    width: 80%;
    margin: auto;
    height: 15rem;
    padding-top: 3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-intro_text {
    text-align: center;
    font-size: 1.7rem;
}
.section-intro_content {
    padding-top: 300px;
}
.section-intro_circles {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.section-intro_circles img{
    width: 50px;
   padding-top: 50px;
}
.section-intro_circle{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
}

.section-intro_presentation {
    background-color: #232323;
    color: #fff;
}

.section-intro_presentation-content {
    width: 80%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 10px;
}
.section-intro_presentation-cards{
    width: 100%;
    display: flex;
}
.section-intro_presentation-cards .card{
    padding: 30px;
    height: 250px;
}
.section-intro_presentation-cards .card h2{
    text-align: center;
    color: #54be90;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1px;
}

.section-intro_presentation-cards .card p{
    margin-top: 40px;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}

.section-intro_presentation-cards .card:nth-child(2) h2{
    padding-right: 10px;
}

/********** Section Skills styles ********************/

.section-skills{
    background-color: #fff;
}

.section-skills_content{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}


.section-skills_content h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 300%;
    color: #54be90;
}
.section-skills_row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.section-skills_column ul {
    list-style-type: none;
}
.section-skills_column ul li {
    margin-top: 25px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.section-skills_column ul li img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

/********** Section Portfolio styles ********************/


/* swiper-container */
.mySwiper{
    background-color: #fff;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    overflow: hidden; 
   
  }
  
 
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
  }
  

  .swiper-slide_content {
    height: 100%;
    width: 100%;
    padding: .7rem;
    box-sizing: border-box; 
  }
  

  .slider-image img {
    display: block;
    max-width: 100%; 
    max-height: 100%; 
    width: auto; 
    height: auto; 
  }

  .slider-footer {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    box-sizing: border-box; 
  }
  

  .slider-footer_links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 45px;
  }

  .swiper-slide_content hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .slider-image{
    height: 80%;
    
  }

.project-title {
    color: #000 !important;
    font-size: 1.2rem !important;
}


/**************  Modal ************* */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.3s;
  }

  .modal.active {
    opacity: 1;
    visibility: visible;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    max-width: 700px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;  
  }

  .close {
    font-size: 1.5rem;
    color: #000;
    position: absolute;
    top: 0;
    right: 8px;
    cursor: pointer; 
  }

  .close:hover {
    font-weight: bold;
  }

  .modal-text {
    width: 85%;
  }

  .modal-text h2 {
    color: #303030;
    text-align: center;
  }
  
  .project-desciption {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .read-more{
    color: #a6a6a6;
    font-weight: bold;
    cursor: pointer;
  }
  .visit {
    text-decoration: none;
    color: #a6a6a6;
    font-weight: bold;
    cursor: pointer;
    z-index: 99999;
  }
/*************************************************************************/
.section-portfolio{
 background-color: #54be90;
}

.section-portfolio_content{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-portfolio_content h2 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 300%;
    letter-spacing: 1px;
}

.flex-cards {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-cards_column{
    box-sizing: border-box; 
    flex: 25%;
    max-width: 30%;
    padding: 0 5px;
}

.flex-cards_card {
    width: 100%;
    margin: 10px 0; 
    padding: 10px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.flex-cards_card:hover{
    background-color: #000;
}

.flex-cards_card-image img {
    width: 100%;
    height: 180px;
}

.flex-cards_card-description {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ccc;
}

.flex-cards_card-description p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

.flex-cards_card-tech-stack{
    background-color: #ccc;
    padding-left: 15px;
    padding-bottom: 10px;
}


/********** Section About Me styles ********************/
.section-about-me {
    background-color: #ebebeb;
}
.section-about-me_content {
    width: 70%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-about-me_content h2 {
    text-transform: uppercase;
    text-align: center;
    color: #000;
    font-size: 300%;
    font-weight: 800;
    letter-spacing: 1px;
}

.about-me_box {
    display: flex;
    margin-top: 30px;
}

.about-me_box-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.about-me_box-para1,
.about-me_box-para2 {
    font-size: 1.2rem;
}

.about-me_box-text h3 {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 40px;
}

.about-me_box-text button {
    width: 160px;
    border: none;
    background-color: #54be90;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
    -webkit-box-shadow: -5px 6px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 15px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 15px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.about-me_box-text button a {
    text-decoration: none;
    color: inherit;
}

.about-me_box-text button:hover {
    background-color: #4eb88a;
}
.about-me_box-text button:active{
    -webkit-box-shadow: -5px 6px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 10px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 10px 0px rgba(0,0,0,0.75);
    transform: translateY(1px);
}

.about-me_underline {
    border-bottom: 10px solid #54be90; ;
}

/********** Section Find Me styles ********************/

.section-find-me {
    background-color:  #232323;
}

.section-find-me_content{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.section-find-me_content h2 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 300%;
    letter-spacing: 1px;
}

.section-find-me_social-icons {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 40px auto;
}

.section-find-me_social-icons img {
    width: 80px;
} 

/********** Section Contact styles ********************/


.section-contact-me {
    background-color: #54be90;
}

.section-contact-me_content {
    width: 70%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;   
}
.section-contact-me_content h2 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 300%;
    letter-spacing: 1px;
}

form{
    margin-top: 50px;
}
.form-row {
    display: flex;
    gap: 20px;
}
.form-row input {
    flex: 1;
    border: none;
    outline: none;
    padding-bottom: 5px;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-weight: 100;
    font-size: 1.2rem;
}
input::placeholder {
  color: #fff;   
}

label {
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.3rem;   
}
input[name="email"],
input[name="phone"]{
    margin-top: 20px;
}

.form-textarea {
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin-top: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1.4rem;
    font-weight: 600;
    resize: none;
  }

.form-btn {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #232323;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 2px;
    cursor: pointer;
    -webkit-box-shadow: -5px 6px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 15px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 15px 0px rgba(0,0,0,0.75);
}

.form-btn:active{
    -webkit-box-shadow: -5px 6px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 10px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 10px 0px rgba(0,0,0,0.75);
    transform: translateY(1px);
}

/********** Section Contact styles ********************/

.footer{
    background-color: #ebebeb;
}

.footer-content{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;   
}
.footer-content h2{
    text-transform: uppercase;
    text-align: center;
    color: #000;
    font-size: 300%;
    font-weight: 900;
    letter-spacing: 1px;
    position: relative;

}
/******** left and right inline lines *******************/
.footer-content h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 35%;
    height: 10px;
    background-color: #54be90;
    left: 0;
    top: 40%;
     
}
.footer-content h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 35%;
    height: 10px;
    background-color: #54be90;
    right: 0;
    top: 40%;
}

.footer-social{
    width: 30%;
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
}
.footer-social img {
    width: 60px;
}

.footer-copyright {
    text-align: center;
}
/******* Cards media queries **********/
/* @media(max-width: 800px){
    .flex-cards_column{
      flex: 50%;
      max-width: 50%
    }
    .last-column{
    max-width: 100%;
    display: flex;
    gap: 10px;
    margin-top: -10px;
      }
} */
    
  @media(max-width: 400px){
    .flex-cards_column{
      flex: 100%;
      max-width: 100%
    }
    .last-column{
        flex-direction: column;
    }
  }

/******* Media queries **********/

@media(max-width: 1800px){
    .footer-content h2::before,
    .footer-content h2::after {
        width: 25%;
    }
}

@media(max-width: 1500px){
    header {
        height: 650px;
    }
}
@media(max-width: 1400px){
    header {
        height: 550px;
    }
}
@media(max-width: 1245px){
.section-intro_circle{
    width: 170px;
    height: 170px;
}
.section-intro_presentation-cards .card {
    padding: 10px;
}
.section-intro_presentation-cards .card p{
    margin-top: 30px;
}
}
@media(max-width: 1220px){
    header {
        height: 480px;
    }
    .header-title{
        top: 65%;
    }
}
@media(max-width: 1130px){
    .flex-cards {
        justify-content: space-between;
    }
    .flex-cards_column{
        max-width: 34%;
    }
    .section-intro_circle {
        width: 150px;
        height: 150px;
    }
  .section-intro_circles img {
        width: 40px;
        padding-top: 30px;
  }
}

@media(max-width: 1080px){
    header {
        height: 420px
    };
    .title-upside{
        font-size: 160%;
    }
    .header-text_name{
        font-size: 100%;
    }
    .title-downside{
        font-size: 160%;
    }
    .header-title{
        top: 65%;
        left: 55%
    }
    .section-intro_circles{
        justify-content: space-between;
    }
    .section-about-me_content{
        width: 80%;
    }
    .section-skills_row {
        justify-content: space-between;
    }

}
@media(max-width: 1065px){
    .section-skills_content h2,
    .section-portfolio_content h2,
    .footer-content h2,
    .section-contact-me_content h2,
    .section-find-me_content h2,
    .section-about-me_content h2 {
        font-size: 250%;
    }
}

@media(max-width: 1000px){
  .section-skills_content,
  .section-portfolio_content,
  .section-find-me_content,
  .section-contact-me_content,
  .section-about-me_content{
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .section-find-me_social-icons img {
    width: 75px;
}
  .section-find-me_social-icons,
  .footer-social{
    justify-content: space-between;
  }
  .footer-content{
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .form-btn{
    width: 250px;
 }
}

@media(max-width: 995px){
    .mySwiper {
        width: 90%;
    }
    nav{
        height: 50px;
    }
    .nav-logo {
        margin-left: initial;
    }
    .header-text{
        width: 460px;
    }
    .title-upside,
    .title-downside{
        font-size: 150%;
    }
    .header-title {
        top: 55%;
    }
    .section-intro {
        background-color: #fff;margin-top: 0px;
    }
    .section-intro_content{
    padding-top: 0px;
    }
    .section-intro_circles{
        display: none;
    }
    .section-intro_presentation-cards{
        flex-direction: column;
    }
    .section-intro_presentation-cards .card:nth-child(2) h2 {
        padding-right: 0px;
    }
    .section-intro_presentation-cards .card p {
        font-size: 1.6rem;
        line-height: 40px;
    }
    .section-intro_presentation-cards .card h2 {
        font-size: 1.9rem;
    }


    .flex-cards {
        flex-direction: column;
        align-items: center;
    }
    .flex-cards_column{
        max-width: 100%;
        display: flex;
        flex-direction: row;
    }
    .flex-cards_card{
        margin: 10px 10px;
    }
}

@media(max-width: 910px){
 
    .section-skills_content, 
    .section-portfolio_content, 
    .section-find-me_content,
    .section-contact-me_content,
    .section-about-me_content {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .section-find-me_social-icons img {
        width: 50px;
    }
    .section-skills_content h2,
    .section-portfolio_content h2,
    .footer-content h2,
    .section-contact-me_content h2,
    .section-find-me_content h2,
    .section-about-me_content h2 {
        font-size: 190%;
    }

    .footer-content h2::before {
        width: 50%;
        height: 8px;
        left: 0;
        top: 100%;
    }
    .footer-content h2::after {
        width: 50%;
        height: 8px;
        right: 8px;
        top: 100%;
    }
    .footer-social{
        width: 70%;
    }
    .footer-social img {
        width: 50px;
    }
}

@media(max-width: 740px){
    .mySwiper {
        width: 100%;
    }
    header {
        height: 330px;
    }
    .header-text{
        width: 375px;
    }
    .title-upside, .title-downside {
        font-size: 130%;
    }
    .flex-cards_card {
        margin: 5px 5px;
    }
    .section-skills_row{
        flex-direction: column;
        align-items: center;
    }
    .section-skills_column:nth-child(2),
    .section-skills_column:nth-child(3){
        margin-right: 30px;
    }

    .about-me_box-text h3 {
        font-size: 1.3rem;
    }
    .form-row{
        flex-direction: column;
    }
}

@media(max-width: 650px){
    nav{
        align-items: center;
    }
    nav.active{
        align-items: unset;
    }
    nav .nav-links{
        display: none;  
        width: 100%;
    }
    nav .nav-links.active {
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 50%;
        background-color: #303030;
    }
    .modal-content {
        width: 80%;
    }
    .mobile-icon{
        position: absolute;
        right: 0;
        display: flex;
        z-index: 1;
    }
    .mobile-icon.active  .mobile-icon_line:nth-child(1){
        transform: rotate(45deg);
        margin-top: 20px;
        background-color: #fff;
    }
    .mobile-icon.active  .mobile-icon_line:nth-child(2){
        display: none;

    }
    .mobile-icon.active  .mobile-icon_line:nth-child(3){
        transform: rotate(-45deg);
        margin-top: -20px;
        background-color: #fff;
    }
}

@media(max-width: 632px){
    header {
        height: 235px;
    }
    .header-text {
        width: 275px;
    }
    .header-text_name {
        border-bottom: none;
    }
    .title-upside,
    .title-downside{
        font-size: 90%;
    }
    .section-intro-paragraph_box {
        height: 12rem;
   }
    .section-intro_presentation-content{
       padding-top: 40px;
   }
    .section-intro_presentation-cards .card {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
}
    .section-intro_presentation-cards .card h2 {
        font-size: 1.5rem;
}
    .section-intro_presentation-cards .card p,
    .section-intro_text {
        font-size: 1.3rem;
    }
    .section-intro_presentation-cards .card p {
        line-height: 30px;
    }

    .section-skills_content h2,
    .section-portfolio_content h2,
    .footer-content h2,
    .section-contact-me_content h2,
    .section-find-me_content h2,
    .section-about-me_content h2 {
        font-size: 185%;
    }
    .section-skills_row{
        margin-top: 20px;
    }
    .flex-cards_column {
        max-width: 80%;
        flex-direction: column;
    }
    .about-me_box-text{
        margin-bottom: 100px;
    }
    .about-me_underline{
        display: none;
    }
    .about-me_box-text button {
        margin-top: 10px;
        padding: 5px;
        width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-find-me_content{
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .form-btn {
        width: 100%;
    }
    .form-row input,
     label,
     textarea {
        font-size: 1.1rem;
    }
    
}

@media(max-width: 570px) {
    .flex-cards_column {
        max-width: 90%;
    }
    .about-me_box{
        text-align: justify;
    }
    .section-intro-paragraph_box,
    .section-intro_presentation-content,
    .section-about-me_content{
        width: 90%;
    }
    .section-contact-me_content {
        width: 80%;
    }
    .section-find-me_social-icons img,
    .footer-social img {
        width: 40px;
    }
    .footer-content h2::before{
        height: 4px;
    }
    .footer-content h2::after {
        height: 4px;
    }
}

@media(max-width: 520px) {
    header{
        height: 200px;
    }
    .flex-cards_column {
        max-width: 100%;
    }
    .section-intro-paragraph_box {
        height: 14rem;
    }
    .section-skills_column ul li img {
        width: 25px;
        height: 25px;
    }
    .section-intro_presentation-cards .card p,
     .section-intro_text {
        text-align: justify;
    }
    .section-contact-me_content {
        width: 90%;
    }
}

@media(max-width: 435px){
    nav {
        height: 40px;
    }
    header{
        height: 160px;
    }
    .header-text {
        width: 210px;
        line-height: 27px;
    }
    .title-upside,
    .title-downside{
        font-size: 75%;
    }
    .nav-logo img {
        width: 40px;
        height: 25px;
    }
    .mobile-icon {
        width: 30px;
        height: 30px;
    }
    .mobile-icon_line {
        height: 4px;

    }
    .about-me_box-text {
        margin-bottom: 135px;
    }
    .about-me_box-text h3 {
        margin-top: 18px;
    }
    .section-skills_column ul li {
        font-size: 1.3rem;
    }
    .section-skills_content h2,
    .section-portfolio_content h2,
    .footer-content h2,
    .section-contact-me_content h2,
    .section-find-me_content h2,
    .section-about-me_content h2 {
        font-size: 165%;
    }
    .section-portfolio_content{
        width: 90%;
    }
    .section-about-me_content{
        padding-bottom: 0px;
    }
    .form-btn{
        height: 35px;
    }
}

@media(max-width: 380px){
    header{
        height: 130px;
    }
    .about-me_box-text{
        height: 300px;
    }
}