/*******  Main styles *************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Alegreya Sans', sans-serif;
}


/********** Navigation styles ********************/

nav {
    display: flex;
    width: 100%;
    height: 60px;
}
.nav-logo {
    margin-right: auto;
    margin-left: -45px;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img {
    height: 60%;
}

nav .nav-links{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}
nav .nav-links li {
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

nav .nav-links li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-links li a:hover{
    background-color: #54be90;
    color: #000;
    font-weight: 600;
} 
header {
    position: relative;
    height: 1000px;
}
.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
header video {  
    margin-top: -60px;
    width: 100%;
}


.header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header-text {
    width: 550px;
    color: #fff;

}

.header-text_name{
    font-size: 110%;
    font-weight: bolder;
    color: #54be90;
    border-bottom: 10px solid #fff;
}

.title-upside{
    font-weight: 500;
    font-size: 180%;
}
.title-downside{
    font-weight: 500;
    letter-spacing: -2px;
    font-size: 180%;
    
}
/********** Section Intro styles ********************/

.section-intro{
    background-color: #fff;
    margin-top: -200px;
    /* background: linear-gradient(rgb(60, 200, 255) 0%, rgb(32, 98, 138) 100%); */
    /* background: linear-gradient(#F26101, #08AEEA), rgba(0,0,0,0.2); */
    background: linear-gradient(to top, #fff, #fff 69%, transparent);
}
.section-into-paragraph_box {
    width: 80%;
    margin: auto;
    height: 15rem;
    padding-top: 3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-intro_text {
    text-align: center;
    font-size: 1.7rem;
}
.section-intro_content {
    padding-top: 300px;
}
.section-intro_circles {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.section-intro_circles img{
    width: 50px;
   padding-top: 50px;
}
.section-intro_circle{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
}

.section-intro_presentation {
    background-color: #232323;
    color: #fff;
}

.section-intro_presentation-content {
    width: 80%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 10px;
}
.section-intro_presentation-cards{
    width: 100%;
    display: flex;
}
.section-intro_presentation-cards .card{
    padding: 30px;
    height: 250px;
}
.section-intro_presentation-cards .card h2{
    text-align: center;
    color: #54be90;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1px;
}

.section-intro_presentation-cards .card p{
    margin-top: 40px;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}

.section-intro_presentation-cards .card:nth-child(2) h2{
    padding-right: 10px;
}

/********** Section Skills styles ********************/

.section-skills{
    background-color: #fff;
}

.section-skills_content{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-skills_content h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 300%;
    color: #54be90;
}
.section-skills_box{
    margin-top: 60px;
}

.section-skills_skill{
    position: relative;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
    margin-bottom: 10px;
}

.skill-title{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #464646;

}

.section-skills_skill .skill-title_text{
       color: #fff;
}

.skill-percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.skill-percentage p {
    margin-right: 10px;
}

.skill-fill-color{
    position: absolute;
    top: 0;
    left: 10%;
    bottom: 0;
    background-color: #54be90;
}

.html-color_fill{
    right: 9%;
}

.css-color_fill {
    right: 9%;
}

.javascript-color_fill {
    right: 18%;
}

.react-color_fill {
    right: 27%;
}

.jquery-color_fill {
    right: 18%;
}

.php-color_fill {
    right: 27%;
}

.laravel-color_fill {
    right: 27%;
}

.ux-color_fill {
    right: 45%;
}

/********** Section Portfolio styles ********************/

.section-portfolio{
 background-color: #54be90;
}

.section-portfolio_content{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-portfolio_content h2 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 350%;
    letter-spacing: 1px;
}

.flex-cards {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-cards_column{
    box-sizing: border-box; 
    flex: 25%;
    max-width: 30%;
    padding: 0 5px;
}

.flex-cards_card {
    width: 100%;
    /* height: 180px; */
    margin: 10px 0; 
    padding: 10px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-cards_card:hover{
    background-color: #000;
}

.flex-cards_card-image img {
    width: 100%;
    height: 180px;
}

.flex-cards_card-description {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ccc;
}

.flex-cards_card-description p {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

.flex-cards_card-tech-stack{
    background-color: #ccc;
    padding-left: 15px;
    padding-bottom: 10px;
}


/********** Section About Me styles ********************/
.section-about-me {
    background-color: #ebebeb;
}
.section-about-me_content {
    width: 70%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-about-me_content h2 {
    text-transform: uppercase;
    text-align: center;
    color: #000;
    font-size: 350%;
    letter-spacing: 1px;
}

.about-me_box {
    display: flex;
    margin-top: 30px;
}

.about-me_box-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-me_box-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-me_box-image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.about-me_box-para1,
.about-me_box-para2 {
    font-size: 1.2rem;
}

.about-me_box-text h3 {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 40px;
}

.about-me_box-text button {
    width: 160px;
    border: none;
    background-color: #54be90;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
    -webkit-box-shadow: -5px 6px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 15px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 15px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.about-me_box-text button:hover {
    background-color: #4eb88a;
}
.about-me_box-text button:active{
    -webkit-box-shadow: -5px 6px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 10px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 10px 0px rgba(0,0,0,0.75);
    transform: translateY(1px);
}

.about-me_underline {
    border-bottom: 10px solid #54be90; ;
}

/********** Section Find Me styles ********************/

.section-find-me {
    background-color:  #232323;
}

.section-find-me_content{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.section-find-me_content h2 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 200%;
    letter-spacing: 1px;
}

.section-find-me_social-icons {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 40px auto;
}

.section-find-me_social-icons img {
    width: 100px;
}

/********** Section Contact styles ********************/


.section-contact-me {
    background-color: #54be90;
}

.section-contact-me_content {
    width: 70%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;   
}
.section-contact-me_content h2 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 350%;
    letter-spacing: 1px;
}

form{
    margin-top: 50px;
}
.form-row {
    display: flex;
    gap: 20px;
}
.form-row input {
    flex: 1;
    border: none;
    outline: none;
    padding-bottom: 5px;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-weight: 100;
    font-size: 1.2rem;
}
input::placeholder {
  color: #fff;   
}

label {
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.3rem;   
}
input[name="email"],
input[name="phone"]{
    margin-top: 20px;
}

.form-textarea {
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin-top: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 1.4rem;
    font-weight: 600;
    resize: none;
  }

.form-btn {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    background-color: #232323;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 2px;
    cursor: pointer;
    -webkit-box-shadow: -5px 6px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 15px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 15px 0px rgba(0,0,0,0.75);
}

.form-btn:active{
    -webkit-box-shadow: -5px 6px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 10px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 6px 10px 0px rgba(0,0,0,0.75);
    transform: translateY(1px);
}

/******* Cards media queries **********/
@media(max-width: 800px){
    .flex-cards_column{
      flex: 50%;
      max-width: 50%
    }
    .last-column{
    max-width: 100%;
    display: flex;
    gap: 10px;
    margin-top: -10px;
      }
}
    
  @media(max-width: 400px){
    .flex-cards_column{
      flex: 100%;
      max-width: 100%
    }
    .last-column{
        flex-direction: column;
    }
  }